$bg-color: #f4f1ec;
$nav-bg-color: #5F4B66;
$header-bg-color: #598392;
$accent-color: #B3C9D0;
$heading-font-color: #FFFFFF;
$main-font-color: #545149;
$shadow-color: #E8C4CA;

$heading-font: 'Bungee', cursive;
$body-font: 'Source Sans Pro', sans-serif;
