$bg-color: #f4f1ec;
$nav-bg-color: #4056A1;
$header-bg-color: orange;
$heading-font-color: #FFFFFF;
$main-font-color: #545149;
$shadow-color: #bcc4f7;

$heading-font: 'Bungee', cursive;
$body-font: 'Source Sans Pro', sans-serif;
