@import 'global_val';

.navHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px; // 420px visible
  width: 100%;
  padding-top: 80px; // 80px for navbar height, to center the elements
  background-image: url("../images/asfalt-dark.png");
  background-color: $header-bg-color;
  color: $heading-font-color;
}

.headerImg {
  padding: 0;
}

.headerName {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.name {
  margin: 0;
}

.firstName {
  font-weight: 600;
}

.lastName {
  font-weight: 300;
}

// Media queries
@media screen and (min-width: 1024px) {
  body .navHeader {
    height: 400px;
    margin: 200px 8% 0 4%;
    padding: 0;
    width: 40%;
  }
}
