@import 'global_val';

nav {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  z-index: 1;
  height: 80px;
  width: 100%;
  background-color: $nav-bg-color;
  color: $heading-font-color;
  padding: 0 2em;

  span {
    font-family: $heading-font;
  }

  button {
    background: none;
    border: none;
  }

  .logo {
    margin-top: 20px;
    font-size: 30px;
  }

  .navbarText {
    margin-top: 5px;
  }

  .navNewTweet {
    margin: 0;
    margin-top: 0px;
    color: $heading-font-color;
  }

  .fa-angle-double-down {
    display: flex;
    margin: 5px 0 0 0;
    padding: 0;
    color: darkorange;
    justify-content: center;
  }

  .bounce {
    animation: bounce 2.5s infinite;
  }

  @keyframes bounce {
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(6px);
    }
    100% {
      transform: translateY(0);
    }
  }

}
