@import 'global_val';

nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: $nav-bg-color;
  color: $heading-font-color;
  padding: 0 2em;

  span { // Tweeter
    font-family: $heading-font;
    font-size: 2em;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
  }

  p {
    margin: 0;
    color: $heading-font-color
  }

  .fa-angle-double-down {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    color: $accent-color;
  }

  // Animation
  .bounce {
    animation: bounce 2.5s infinite;
  }

  @keyframes bounce {
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(6px);
    }
    100% {
      transform: translateY(0);
    }
  }
} // nav
