@import 'global_val';

.new-tweet {
  width: 100%;
  color: $main-font-color;
}

#tweet-text {
  display: flex;
  background-color: $bg-color;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-color: $main-font-color;
  padding-bottom: 15px;
  font-weight: 600;
  resize: none;
  width: 100%;
  outline: none;
}

::placeholder {
  color: $main-font-color;
}

.error-msg {
  color: red;
  border-style: solid;
  padding: 12px;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-family: $heading-font;
  margin-top: 20px;
}

.tweetButton {
  background-color: $nav-bg-color;
  color: $heading-font-color;
  border-style: none;
  padding: 6px 10px;
}

.counter {
  display: flex;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}
