@import 'global_val';

#new-tweet {
  width: 100%;
  margin-top: 50px;

  label {
    font-size: 1.4em;
  }
}

#tweet-text {
  background-color: $bg-color;
  border: none;
  border-bottom: solid 3px;
  border-color: $main-font-color;
  width: 100%;
  margin-top: 0.5em;
  padding-bottom: 15px;
  font-weight: 600;
  resize: none;
  outline: none;
}

.error-msg {
  color: red;
  border-style: solid;
  padding: 12px;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-family: $heading-font;
  margin-top: 20px;
}

.tweetButton {
  background-color: $nav-bg-color;
  color: $heading-font-color;
  border: none;
  padding: 0.50em 0.70em 0.35em;
}

.counter {
  display: flex;
  margin-right: 10px;
  align-items: center;
}
