.navHeader {
  height: 500px;
  width: 100%;
  background-image: url("../images/asfalt-dark.png");
  background-color: orange;
  color: #FFFFFF;
}

.headerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 140px;
  margin: 0;
}

.headerName {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.name {
  margin: 0;
}

.firstName {
  font-weight: 600;
}

.lastName {
  font-weight: 300;
}
