nav {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  z-index: 1;
  height: 80px;
  width: 100%;
  background-color: #5F4B66;
  color: #FFFFFF;
  padding: 0 2em;
}
nav span {
  font-family: "Bungee", cursive;
}
nav button {
  background: none;
  border: none;
  cursor: pointer;
}
nav .logo {
  margin-top: 20px;
  font-size: 30px;
}
nav .navbarText {
  margin-top: 5px;
}
nav .navNewTweet {
  margin: 0;
  margin-top: 0px;
  color: #FFFFFF;
}
nav .fa-angle-double-down {
  display: flex;
  margin: 5px 0 0 0;
  padding: 0;
  color: #B3C9D0;
  justify-content: center;
}
nav .bounce {
  animation: bounce 2.5s infinite;
}
@keyframes bounce {
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(0);
  }
}
