#new-tweet {
  width: 100%;
  margin-top: 50px;
}
#new-tweet label {
  font-size: 1.4em;
}

#tweet-text {
  background-color: #f4f1ec;
  border: none;
  border-bottom: solid 3px;
  border-color: #545149;
  width: 100%;
  margin-top: 0.5em;
  padding-bottom: 15px;
  font-weight: 600;
  resize: none;
  outline: none;
}

.error-msg {
  color: red;
  border-style: solid;
  padding: 12px;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", cursive;
  margin-top: 20px;
}

.tweetButton {
  background-color: #5F4B66;
  color: #FFFFFF;
  border: none;
  padding: 0.5em 0.7em 0.35em;
}

.counter {
  display: flex;
  margin-right: 10px;
  align-items: center;
}
